.header{
    display: flex;
    justify-content:space-between;
}
.logo{
    color: black;
    font-weight: bold;
    font-size: 30px;
}
a{
    text-decoration: none;
    color:inherit;
    
}
.headerOptions{
    display: flex;
    gap:20px;
    font-weight: bold;
}
