.Register{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    form{
        width: 100%;
    }
    div.Register input{
        width: 70%;
        height: 35px;
        margin:20px auto;
        display:block;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid black;
    }
    div.Register button{
        width:70%;
        height:35px;
        margin:20px auto;
        display: block;
    }